.cozy-nest-thumbnail {
  width: 300px;
}
.browser > div {
    display: flex;
    flex-wrap: wrap;
}

.image {
    display: flex;
}

.image-info {
    position: absolute;
    display: block;
    width: 300px;
    background-color: black;
}